#map {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}

.location-list {
  list-style: none;
  font-family: Helvetica, sans-serif;
  padding: 0;
}

.menu {
  padding: 15px;
  border-radius: 5px;
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

#close-icon {
  position: absolute;
  background-color: #fff;
  border: 1px solid #fff;
  top: 15px;
  right: -30px;
  border-radius: 25px;
  padding: 7px;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

#open-icon {
  position: absolute;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px;
  top: 22px;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

// Google API Styles
// Infowindow
.gm-style .gm-style-iw {
  height: 200px !important;
}